
@{
    ViewBag.Title = "MessagePage";
}


<h1 style="font-family:'Monetz',cursive; text-align:center; color:rgba(252, 61, 106, 0.75)">Messages</h1>
<div class="jumbotron" style="margin-left:5%; margin-right:5%; border:groove; background:linear-gradient()">
    <h1> hello guys! hope you all are good. here is special message for all of you. Due to landslinding, the skardu trip gets postpond for one week. inform to all and wait for the next announcement. Thankyou! ~M.sabahuddin sethi</h1>
    <h1>hello guys! be ready, trip will be move on time ~Burhanuddin</h1>
</div>

