
@{
    ViewBag.Title = "ProfilePage";
}

<!DOCTYPE html>
<html lang="zxx">
<body>
    <div class="jumbotron" style="background-color:gainsboro">
        <div class="left" style="margin-right:70%; padding-top:1%;padding-bottom:1%">
            <img src="~/Context/images/usericon.png" />
        </div>
        <div class="right" style="margin-left:30%; padding-bottom:1%; padding-top:1%">
            <h2>User Name</h2>
            <h2>
                muhammad sabahuddin
            </h2>
        </div>
    </div>
        <div class="jumbotron" style="background-color:gainsboro">
            <div class="left" style="margin-right:70%; padding-top:1%;padding-bottom:1%">
                <img src="~/Context/images/usericon.png" />
            </div>
            <div class="right" style="margin-left:30%; padding-bottom:1%; padding-top:1%">
                <h2>User Name</h2>
                <h2>
                    Burhanuddin Mustafa
                </h2>
            </div>
        </div>
    </body>
</html>